
body {
   display: flex;
   min-height: 100vh;
   flex-direction: column;
 }

 main {
   flex: 1 0 auto;
 }

.brand-logo{
  font-family: 'Niconne', cursive;
  font-size: 50px !important;
}
.add-recipe{
  font-size: 30px;
}
